/*
RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*
GENERAL
*/

body {
    background-color: lightgray;
}

/*
HEADER
*/

header {
    background-color: white;
}

h1 {
    display: inline-block;
}

header img, header h1 {
    vertical-align: middle;
}

/*
MAIN
*/
.container {
    background-color: white;
    
}

#buttons {
    margin-top: 30px;
}