/*
RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*
GENERAL
*/

body {
    background-color: lightgray;
}

/*
HEADER
*/

header {
    padding: 10px 15px;
    background-color: white;
    margin-bottom: 50px;
}

h1 {
    display: inline-block;
}

header img, header h1 {
    vertical-align: middle;
}

/*
MAIN
*/
.container {
    margin: 0 auto;
    width: 75%;

    
}

#buttons {
    margin-bottom: 2px;
    background-color: white;
    padding: 20px 40px;
}

#add-task {
    padding: 4px 8px;
    border-radius: 4px;
    color: white;
    border: 1px solid;
    background-color: #47ADF1;

}

#add-section {
    padding: 4px 8px;
    border-radius: 4px;
    color: #878787;
    border: 1px solid #878787;
    background-color: white;
}

.list {
    background-color: white;
    padding: 20px 40px;
}